.App {
  text-align: center;
  
}
.cover{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
}
.formdiv,.mainpage{
  box-shadow: 15px 15px 15px #02427a;
  border-radius: 5px;
}
.contactus{
  margin: auto;
}
table{
  margin: auto;
  width: 100%;
}
td, th{
  padding: 25px;
}

.col-md-10{
  box-shadow: 5px 10px 15px #02427a;
  border-radius: 5px;
}

/* .mainbg{
  background-image: linear-gradient(black, rgb(2, 2, 97), darkblue, blue, skyblue);
  background-color: #93cdff;
} */

th{
  font-size: xx-large;
  background-color: #02427a  ;
  color: white;
}
nav{
  background-color: #02427a  ;
  box-shadow: 0 0 15px black;
}

.scrollDiv{
  /* max-height: 650px;
  overflow-y: scroll; */
  /* color: white; */
  border-radius: 5px;
  /* background-color: rgb(119, 119, 119); */
}
.scrollDiv2{
  /* max-height: 700px; */
  overflow-y: scroll;
  /* background-color: rgb(219, 219, 219); */
}
.srccard{
  margin-top: auto;
}

img{
  transition-duration: 0.3s;
  height: 100%;
  border-radius: 1%;
  box-shadow: 1px 2px 7px black;
}
img:hover{
  
  transform: scale(1.1);
  cursor: pointer;
}
.resultinput{
  border: none;
  /* background-color: yellow; */
  text-align: center;
  border-radius: 5px;
  padding: 1%;
}
.resultinput:hover{
  cursor: not-allowed;
}
.details_searchresults{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  border-radius: 5px;
  box-shadow: 1px 2px 7px #02427a;

}
.img_left_side, .details_right_side{
  /* border-radius: 5px;
  box-shadow: 1px 2px 7px #02427a; */
  padding: 1%;
}